---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="About" description="Learn about Eman's site.">
    <section class="my-12 mx-auto px-4
    max-w-md md:max-w-screen-sm
    flex flex-col gap-y-6">
        <p class="font-serif text-2xl text-center font-medium">Hey there! I'm Eman Harout.</p>
        <p>
            I'm an iOS developer by trade, but my curiosity goes far beyond coding. I have an engineer's mindset—I like
            to take things apart, understand how they work, and see the bigger picture. But I also have a deep
            appreciation for the arts and the ways science and the humanities intersect.
        </p>
        <p>
            With roots in an ancient culture and a faith that values both reason and wonder, I see the world as a place
            of deep connections—where ideas, people, and stories intertwine. I explore ideas the way some collect
            artifacts—seeking patterns, uncovering meaning, and expanding my perspective. When I'm not deep in a project
            or learning something new, I'm spending time with my wife, family, and our pets, soaking in the simple joys
            of life.
        </p>
    </section>
</MainLayout>
