---
import { Icon } from 'astro-icon/components';
import { PROGRAMMING_BLOG_TYPE, WONDER_BLOG_TYPE } from '../scripts/constants.ts';
---

<button
    id="blog-dropdown-nav-button"
    class="flex justify-center items-center
                    w-full py-3 pl-4
                    sm:justify-between
                    sm:p-3
                    sm:w-auto"
>
    Blog
    <Icon
        name="dropdown-menu-arrow"
        size="10"
        desc="Dropdown Menu Arrow"
        id="navbar-dropdown-menu-arrow-icon"
        class="ms-2.5 mt-0.5 transition-transform transform"
    />
</button>
<div
    id="blogs-dropdown-menu"
    class="z-10 w-44 hidden absolute left-0 mt-2
                    font-normal bg-bg-2 rounded-lg border border-fg-border-2
                    shadow-md dark:shadow-gray-temp-900"
>
    <ul class="py-2 text-sm text-fg-2" aria-labelledby="dropdownLargeButton">
        <li>
            <a
                href=`/blog/${WONDER_BLOG_TYPE}`
                class="block px-4 py-2
                                hover:bg-primary-100 dark:hover:bg-primary-950 dark:hover:text-primary-50"
            >
                Wonder Blog
            </a>
        </li>
        <li>
            <a
                href=`/blog/${PROGRAMMING_BLOG_TYPE}`
                class="block px-4 py-2
                                hover:bg-primary-100 dark:hover:bg-primary-950 dark:hover:text-primary-50"
            >
                Programming Blog
            </a>
        </li>
        <li>
            <a
                href="/blog"
                class="block px-4 py-2
                                hover:bg-primary-100 dark:hover:bg-primary-950 dark:hover:text-primary-50"
            >
                All Blogs
            </a>
        </li>
    </ul>
</div>
