---
import { Icon } from 'astro-icon/components';
---

<script src="../scripts/getCurrentYear.ts"></script>
<style lang="css">
    [data-icon='x-social-icon'] {
        color: var(--x-icon-color);
    }

    [data-icon='medium-social-icon'] {
        color: var(--medium-icon-color);
    }

    [data-icon='email-icon'] {
        color: var(--email-icon-color);
    }

    [data-icon='github-social-icon'] {
        color: var(--github-icon-color);
    }

    [data-icon='linkedin-social-icon'] {
        color: var(--linkedin-icon-color);
    }
</style>

<footer class="main-footer flex-shrink-0 mt-4 p-4
sm:p-8
text-center
bg-bg-1 text-fg-1">
    <ul
        class="flex flex-wrap justify-center gap-x-4
        my-2 mx-auto bg-bg-2 py-2 px-4 max-w-fit
        rounded-md shadow-md
        sm:flex-nowrap"
    >
        <li>
            <a href="https://x.com/emanharout" target="_blank">
                <Icon name="x-social-icon" size="40" desc="X Icon - Visit my X profile" />
            </a>
        </li>
        <li>
            <a href="https://medium.com/@emanharout" target="_blank">
                <Icon name="medium-social-icon" size="40" desc="Medium Icon - Visit my Medium page" />
            </a>
        </li>
        <li>
            <a href="mailto:elfin.genies06@icloud.com">
                <Icon name="email-icon" size="40" desc="Email Icon - Email me" />
            </a>
        </li>
        <li>
            <a href="https://github.com/emanharout" target="_blank">
                <Icon name="github-social-icon" size="40" desc="Github Icon - View my Github page" />
            </a>
        </li>
        <li>
            <a href="https://linkedin.com/in/emanharout" target="_blank">
                <Icon name="linkedin-social-icon" size="40" desc="LinkedIn Icon - View my LinkedIn" />
            </a>
        </li>
    </ul>
    <p>Copyright © <span id="footer-copyright-year"></span> Eman Harout</p>
</footer>
