---
import { Icon } from 'astro-icon/components';
import ColorThemeToggle from './ColorThemeToggle.astro';
import BlogNavDropdown from './BlogNavDropdown.astro';
---

<!-- inline-block ensures div shrinks to fit size of ul and dark mode toggle -->
<nav class="flex justify-between items-center" role="navigation" aria-label="Main Navigation">
    <ul
        class="flex flex-col items-start gap-y-1
       h-auto
       ml-2 my-4 p-0
       list-none
       sm:flex-row sm:justify-center
       sm:h-12
       sm:gap-y-0 sm:gap-x-3 sm:my-8"
    >
        <li
            id="nav-home-item"
            class="w-full
            rounded hover:bg-bg-2
            sm:w-auto
            relative transition-all ease-in-out
            before:transition-[width] before:ease-in-out before:duration-300 before:absolute before:bg-primary-600 before:origin-center before:h-[3px] before:w-0 before:bottom-0
            hover:before:w-[50%] before:left-[50%]
            after:transition-[width] after:ease-in-out after:duration-300 after:absolute after:bg-primary-600 after:origin-center after:h-[3px] after:w-0 after:bottom-0
            hover:after:w-[50%] after:right-[50%]"
        >
            <a
                href="/"
                aria-label="Go to Home page"
                class="p-3 block text-center
                      sm:w-auto sm:px-3 sm:inline-block"
                >Home
            </a>
        </li>
        <li
            id="nav-blog-item"
            class="w-full relative
        rounded hover:bg-bg-2
        sm:w-auto
            transition-all ease-in-out
            before:transition-[width] before:ease-in-out before:duration-300 before:absolute before:bg-primary-600 before:origin-center before:h-[3px] before:w-0 before:bottom-0
            hover:before:w-[50%] before:left-[50%]
            after:transition-[width] after:ease-in-out after:duration-300 after:absolute after:bg-primary-600 after:origin-center after:h-[3px] after:w-0 after:bottom-0
            hover:after:w-[50%] after:right-[50%]"
        >
            <BlogNavDropdown />
        </li>

        <!-- End of Dropdown Menu -->

        <li
            id="nav-about-item"
            class="w-full
            rounded hover:bg-bg-2
            sm:w-auto
            relative transition-all ease-in-out
            before:transition-[width] before:ease-in-out before:duration-300 before:absolute before:bg-primary-600 before:origin-center before:h-[3px] before:w-0 before:bottom-0
            hover:before:w-[50%] before:left-[50%]
            after:transition-[width] after:ease-in-out after:duration-300 after:absolute after:bg-primary-600 after:origin-center after:h-[3px] after:w-0 after:bottom-0
            hover:after:w-[50%] after:right-[50%]"
        >
            <a
                href="/about"
                aria-label="Go to 'About Me' page"
                class="p-3 block text-center
                      sm:w-auto sm:inline-block"
                >About
            </a>
        </li>
        <li
            id="nav-search-item"
            class="flex items-center justify-center
            py-1
            sm:mr-2 mb-3 sm:mb-0 sm:py-0
            rounded hover:bg-bg-2
            h-full w-full sm:w-auto
            relative transition-all ease-in-out
            before:transition-[width] before:ease-in-out before:duration-300 before:absolute before:bg-primary-600 before:origin-center before:h-[3px] before:w-0 before:bottom-0
            hover:before:w-[50%] before:left-[50%]
            after:transition-[width] after:ease-in-out after:duration-300 after:absolute after:bg-primary-600 after:origin-center after:h-[3px] after:w-0 after:bottom-0
            hover:after:w-[50%] after:right-[50%]"
        >
            <a
                href="/search"
                aria-label="Go to Search page"
                class="flex items-center justify-center
                      h-full w-full py-1 px-2"
            >
                <Icon
                    name="nav-search-icon"
                    size="28"
                    desc="Search icon"
                    id="navbar-search-icon"
                    class="h-auto w-auto"
                />
            </a>
        </li>
        <li class="flex items-center justify-center h-full sm:w-max">
            <ColorThemeToggle />
        </li>
    </ul>
    <script src="../scripts/navHighlighter.ts"></script>
</nav>
